---
layout: tv-layout
title: Carousel variant
---

<div class="container homepage">
  <div class="container-inner">

    {% include 368px-carousel.html data='proto-editorial-highlights' title='iPlayer highlights' %}
    {% include 271px-watching-list.html data='proto-continue-watching' title='Continue watching…' %}
    {% include 271px-carousel.html data='proto-high-priority' title='Comedy Box Sets from BBC Three' %}
    {% include 271px-carousel.html data='proto-most-popular' title='Most popular' %}
    {% include 271px-carousel.html data='proto-recommended-for-you' title='Recommended for you' %}
    {% include 271px-carousel.html data='proto-normal-priority' title='David Attenborough - The Early Years' %}
    {% include 271px-carousel-category.html data='proto-drama' title='Drama' %}
    {% include 271px-carousel-category.html data='proto-comedy' title='Comedy' %}
    {% include 271px-carousel-atoz.html data='proto-documentaries' title='Documentaries' %}
    {% include 271px-carousel-atoz.html data='proto-entertainment' title='Entertainment' %}
    {% include 271px-carousel.html data='proto-added' title='Your Added programmes' %}
    {% include 271px-row.html data='24yrs-shortform' title='Quick watches' %}
    {% include 271px-row.html data='films' title='Films' %}
    {% include 271px-row.html data='bbc3' title='BBC Three' %}
    {% include 271px-row.html data='nature' title='Nature' %}
    {% include 271px-row.html data='37yrs-food' title='Food' %}
    {% include 271px-row.html data='37yrs-current-affairs' title='Current affairs' %}
    {% include 271px-app-footer.html %}

  </div>
</div>

<div class="container atoz" data-id="proto-documentaries" style="background-image: url({{ site.baseurl}}/img/documentaries-atoz.jpg); background-repeat: no-repeat;">
  <div class="container-grid">

    <div class="endlessgrid empty">
      <div class="row-content">
        <div class="content-wrapper"></div>
      </div>
    </div>

  </div>
</div>

<div class="container atoz" data-id="proto-entertainment" style="background-image: url({{ site.baseurl}}/img/entertainment-atoz.jpg); background-repeat: no-repeat;">
  <div class="container-grid">

    <div class="endlessgrid empty">
      <div class="row-content">
        <div class="content-wrapper"></div>
      </div>
    </div>

  </div>
</div>

<div class="container category" data-id="proto-comedy" style="background-image: url({{ site.baseurl}}/img/comedy.jpg); background-repeat: no-repeat;">
  <div class="container-grid">

    <div class="endlessgrid empty">
      <div class="row-content">
        <div class="content-wrapper"></div>
      </div>
    </div>

  </div>
</div>

<div class="container category" data-id="proto-drama" style="background-image: url({{ site.baseurl}}/img/drama.jpg); background-repeat: no-repeat;">
  <div class="container-grid">

    <div class="endlessgrid empty">
      <div class="row-content">
        <div class="content-wrapper"></div>
      </div>
    </div>

  </div>
</div>
